*{
	padding: 0;
	margin: 0;
	
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: black;
}

nav{
	display: flex;
	flex-direction: row;
	padding: 8px;
}

nav #logo{
	width: 50%;
}

nav #liens{
	width: 70%;
}

#liens li{
	display: inline;
	margin-left:25px;

}

#logo img,h3{
	display: inline-flex;
}

#liens ul{
	float: right;
	margin-right: 20px;
	padding: 10px;
	
}

#logo h3{
	vertical-align: top;
	color: whitesmoke;
	font-size: 35px;
	padding-top: 40px;
	margin-left: 20px;
}

#me{
	border: 3px solid rgb(136, 130, 130);
	border-radius: 100%;
	width: 120px;
	height: 125px;
	margin-left: 20px;
}

#liens a{
	text-decoration: none;
	color: white;
	font-size: large;
}

#liens button{
	background: brown;
	color: white;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

nav{
	box-shadow:10px 5px 8px grey;
}

#liens a:hover{
	padding: 2px 5px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: grey;
}

#liens button:hover{
	background: purple;
}

#showcase{
	margin-top: 20px;
	width: 100%;
	height: 500px;
	background: url(../images/portbur.jpg);
	background-repeat: no-repeat;
	background-size: 100% 440px;
}

#showcase #text{
	line-height: 50px;
	width: 70%;
	top: 100px;
	margin: auto;
	text-align: center;
	position: relative;
	font-weight: bold;
	background: black;
	border-radius: 15px;
	opacity: 0.6;
	color: white;
	font-size: xx-large;
	padding: 20px;
	
}

#ms{
	text-align: center;
	margin-top: 20px;
	color: whitesmoke;
}

.srvcs{
	display: grid;
	grid-template-columns: repeat(3,30%);
	width: 90%;
	margin: auto;
	margin-top: 20px;
	justify-content: center;
}

.service{
	display: flex;
	flex-direction: column;
	height: 400px;
	text-align: center;
	margin: 15px;
}
.service img {
	width: 100%;
	height: 60%;
	padding-bottom: 15px;
}

.service p{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: large;
	color: whitesmoke;
}

footer{
	bottom: 0px;
	width: 100%;
	color: black;
	font-weight: 600;
	text-align: center;
	background:grey;
	height: 10px;
	padding: 30px;
	margin-top: 20px;
}